.page {
  color: white;
  padding: 0 1rem 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    min-width: 500px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    padding: 12px;
    min-height: 100%;
    min-width: 476px;
    border-radius: 10px;
    margin-top: -2rem;
    background: rgb(203, 199, 155);
    color: rgb(47, 8, 55);
    font-size: 2rem;
    
  }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  input, button {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF
  } 
  
  .containerr{
    display: flex;
    justify-content: center;
    // gap: 5px;
  }

  