:host {
  
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(91, 131, 131);
    z-index:-1;
  }
  
  mat-drawer {
    background: #0f172a;
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }