<div class="logo py-4 ">
  <img src="../../assets/icon/logo.png" alt="Company Logo" />
</div>
<mat-divider></mat-divider>
<mat-nav-list class="nav-list">
  <br>

  <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/workout">
    <mat-icon>ballot</mat-icon>Workout Plan
  </a>
  <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/goalhome">
    <mat-icon>directions_run</mat-icon>Goal Setting
  </a>
  <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/tracking">
    <mat-icon>fitness_center</mat-icon>Exercise Tracking
  </a>
  <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/recommendations">
    <mat-icon>restaurant_menu</mat-icon>Recommendations
  </a>
  <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/history">
    <mat-icon>history</mat-icon>Workout History
  </a>
</mat-nav-list>