<div class="logo py-4 " style="background-color:rgb(13, 13, 25);">
  <img src="../../assets/icon/logo.png" alt="Company Logo" />
</div>
<mat-nav-list id="nav-list">
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
  <br>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
     Home
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    Dashboard
  </a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/workout">
     Workout Plan
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/exertracking">
    Exercise Tracking
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/goalsetting">
  Goal Setting
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/recommendations">
  Recommendations
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
    Workout History
  </a>
</mat-nav-list>
