<head>

</head>
<body>
    <nav>
    <a href="#tasks">Tasks</a>
    <a routerLink="goalset">Set Goals</a>
    <a routerLink="achievedgoals">Achieved goals</a>
  </nav>
 
  
  <div class="container">
    <div class="carousel">
      <article class="card">
        <h2>Goal 1</h2>
      </article>
      <article class="card">
        <h2>Goal 2</h2>
      </article>
      <article class="card">
        <h2>Goal 3</h2>
      </article>
      <article class="card">
        <h2>Goal 4</h2>
      </article>
      <article class="card">
        <h2>Goal 5</h2>
      </article>
      <article class="card">
        <h2>Goal 6</h2>
      </article>
    </div>
  </div>
  
  </body>