<!-- Section: Design Block -->
<section class="container-fluid full-height background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #a72fed);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 13%, 88%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <nav class="display-5 fw-bold navbar navbar-light fixed-top"
    style=" font-weight:bolder;color: aliceblue; background-color: rgba(80, 104, 168, 0.918); padding:15px;">Welcome to
    the
    Fitness Tracker App</nav>


  <div class="container-fluid full-height px-md-5 text-lg-center py-5 my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="text-lg-center col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="text-lg-center my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Fitness Tracker <br />
          <span style="color: hsl(218, 81%, 75%)">Live the healthy Life</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Transform Your Health and Fitness with Our Comprehensive Fitness Tracker: Reach Your Goals and Stay Motivated!
        </p>
      </div>


      <div class="col-lg-6 mb-lg-0 position-relative d-inline">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="text-center h1 mt-2">Login</div>
          <div class="card-body px-4 py-5 px-md-5">
            <form (submit)="OnLoginSubmit()">

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <!-- container -->
              <div class="row">
                <!-- emial -->
                <div class="form-outline">
                  <input placeholder="Enter your username" class="form-control mb-4" name="username" [(ngModel)]="user.username">
                  </div>
                  <!-- <input placeholder="Enter your username" class="form-control col-md-6 mb-4 p-2" id="emailInput"
                    type="name" name="username" [(ngModel)]="user.username" required #emailInput="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched}">
                </div> -->

                <!-- Password input -->
                <div class="form-outline">
                  <input name="password" [(ngModel)]="user.password" placeholder="Enter your password" type="password" id="form3Example4" class="form-control p-2"
                    required />
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4 p-4
              py-3">
                Login
              </button>
              <br><b style="text-align: center;">OR</b><br>
              <button (click)="sendToRegisterPage()" type="submit" class="btn btn-primary btn-block mb-4 p-4
              py-3">
                Sign up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>