<mat-drawer-container class="body">
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>


    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Nutritional Recommendations</div>
      <div class="page__content shadow p-3 position-realtive">
        <div class="page_container position-relative p-4" style="font-size: small; width: 100%; min-height: calc(100vh - 200px)">
          Nutritional Recommendations Content Goes Here
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>