<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>


    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Nutritional Recommendations</div>
      <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
          Nutritional Recommendations Content Goes Here
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>