@import "../home/home.component.scss";

thead {
    font-weight: bold;
    font-style: normal;
    background-color: #726767;
    color: rgb(47, 51, 52);
}

td {
    padding: 5px;
}

td {
    border: 1px solid #4f4848;

}

.is-Age {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(224, 233, 124, 0.452);
}
.is-calorie{
    color:blue;
}

.btn:hover{
    background-color: rgb(255, 255, 255) !important;
    color: blue !important;
}
.btn:active {
    background-color: rgba(181, 181, 206, 0.782) !important;
}