@import "../home/home.component.scss";

thead {
    font-weight: bold;
    font-style: normal;
}
.is-valid{
    border: 1px solid red;
    background-color: rgb(248, 116, 116);
}

.is-Age {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(224, 233, 124, 0.452);
}
.is-calorie{
    color:blue;
}


.cal-bar {
    
   color: rgb(129, 78, 11) !important;
}

.btn:hover{
    background-color: rgb(255, 255, 255) !important;
    color: blue !important;
}
.btn:active {
    background-color: rgba(181, 181, 206, 0.782) !important;
}

