<!DOCTYPE html>
<html lang="en">
<head>
    <title>Workouts</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-box">
                   
        <h2><i>Transform Your Life with the Power of Fitness Workouts</i></h2>
        <br>     
    </div>
    <div class="middle-container">
        <div class="text">
          <div class="paragraph" >
            <img class="workout" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR-l7esZtdEf1DSNwDssPyfvKgNXA6YsCMTOiFVZHm0O-e0r71M" alt="workout image">
            <h3> <b>Fitness is Journey</b></h3>
            <p style="display: flex; justify-content: center;"
            >Regular exercise improves physical and mental health, boosts mood and energy, and helps you live a better life.
              A study found that just 10 minutes of exercise can boost brainpower, improving cognitive function and memory.
              Doing just 15 minutes of exercise per day can add three years to your life.
            </p>
            
          </div>
          <div class="paragraph">
            <img class="quote" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcStaD8XU1M6PRKskYzBzdo4codurTodnzEdaijNRm0qabvx1SBu" alt="fitness quote">
            <h3><b>Start Better You</b></h3>
            <p style="display: flex; justify-content: center;"
            >Be kind to yourself and celebrate your progress along the way. Remember that fitness is a journey, not a destination. 
              Every workout is a step towards a better, healthier, and happier you.By starting a fitness workout 
              and committing to regular exercise, you can unlock your full potential and become the best version of yourself. 
              So take that first step today and start your journey towards a better you! </p>
          </div>
        </div>
        
        <div class="button">
          <a class="btn" href="workout/list">LIST OF WORKOUTS</a>
          <pre>


          </pre>
        </div>
        <div class="button">
          <a class="btn" routerLink="history">WORKOUT HISTORY</a>
          <pre>


          </pre>
        </div>
      </div>
      
      
      <div class="bottom-container">
        <PRE>


        </PRE>
      </div>
</body>
</html>
