<!-- Section: Design Block -->
<section style="min-height: 100vh;
" class="background-radial-gradient">

    <nav class="custom-nav display-5 fixed-top fw-bold  text-center "
        style=" font-weight:bolder;color: aliceblue; background-color: rgba(80, 104, 168, 0.918); padding:15px;">Welcome
        to
        the
        Fitness Tracker App</nav>
    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
    <!-- <div id="radius-shape-2" class="position-fixed shadow-5-strong"></div> -->

    <div class="custom-container px-md-4">
        <div class="col-md-6" style="z-index: 10">
            <h1 class="text-lg-center my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                Fitness Tracker <br />
                <span style="color: hsl(218, 81%, 75%)">Live the healthy Life</span>
            </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                Transform Your Health and Fitness with Our Comprehensive Fitness Tracker: Reach Your Goals and Stay
                Motivated!
            </p>
        </div>
        <!-- registration form -->
        <div class="col-md-6">

            <div class="mt-4 glass-container card bg-glass">
                <div class="text-center h1 mt-2" style="color:rgba(80, 104, 168, 0.918)">Register</div>
                <div class="card-body py-3">
                    <form class="px-4" #myForm="ngForm" (submit)="onSubmit()">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="form-outline">
                                <input name="username" [(ngModel)]="user.username" placeholder="Enter your name"
                                    class="form-control mb-4" required />
                            </div>
                            <!-- email -->

                            <div class="form-outline">
                                <input autocomplete="email" placeholder="Enter your email address"
                                    class="form-control mb-4" id="emailInput" type="email" name="email"
                                    [(ngModel)]="user.email" required #emailInput="ngModel"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                    [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched}">
                            </div>

                            <!-- Password input -->
                            <div class="form-outline">
                                <input name="password" [(ngModel)]="user.password" autocomplete="current-password"
                                    placeholder="Enter your password" type="password" id="form2Example4"
                                    class="form-control mb-4" required />
                            </div>

                            <!-- height -->
                            <div class="put-in-row">
                                <div class="col">
                                    <div class="form-outline">
                                        <input name="height" [(ngModel)]="user.height"
                                            placeholder="Enter your height in cm" type="number" id="form3Example3"
                                            class="form-control mb-4" required />
                                    </div>
                                </div>
                                <!-- weight -->
                                <div class="col">
                                    <div class="form-outline">
                                        <input name="weight" [(ngModel)]="user.weight"
                                            placeholder="Enter your weight in kg" type="number" id="form3Example2"
                                            class="form-control mb-4" required />
                                    </div>
                                </div>
                            </div>
                            <!-- age -->
                            <div class="form-outline">
                                <div class="form-outline">
                                    <input name="age" [(ngModel)]="user.age" placeholder="Enter your age" type="number"
                                        id="form3Example4" class="form-control mb-4" required />
                                </div>
                            </div>
                            <!-- gender -->
                            <div class="">
                                <select class="form-select" id="selectGender" name="gender"  (change)="changeSelection($event.target)">
                                    <option selected disabled>Select your gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="row-btns">
                            <button type="submit" class="btn btn-danger">
                                Sign up
                            </button>
                            <!-- login-button -->
                            <label class="text-secondary">or</label>
                            <a (click)="goToLogin()" type="submit" class="text-decoration-none text-primary">Login</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
