@import "../home/home.component.scss";


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  input, button {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF
  } 
  
  .containerr{
    display: flex;
    justify-content: center;
    // gap: 5px;
  }

  